<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Rapper Name</label>
    <input type="text" name="name" id="name" class="form-control" ngModel required #inputCtrl="ngModel">
    <span *ngIf="!inputCtrl.valid && inputCtrl.touched">Please enter a name!</span>
  </div>
  <div class="form-group">
    <label for="race">Select a race</label>
    <select name="race" id="race" class="form-control" ngModel>
      <option *ngFor="let option of availableOptions" [value]="option.value">{{option.display}}</option>
    </select>
  </div>
  <button class="btn btn-outline-primary" type="submit" [disabled]="form.invalid">Create Rapper</button>
</form>
